<mat-toolbar color="primary" role="banner">
  <mat-icon
    aria-label="Wallet icon"
    fontIcon="account_balance_wallet"
  ></mat-icon>
  <h1 class="app-title">Wallet</h1>
</mat-toolbar>
<router-outlet></router-outlet>
<ul>
  TODO
  <li>
    implement the wallet application (list expenses and incomes, compute total,
    form to add expense / incomes, graphs, month & year view)
  </li>
  <li>Use angular material</li>
  <li>Add routes</li>
  <li>Try angular material animations</li>
  <li>Create a form with both methods (one route for each)</li>
  <li>Create a custom pipe and a custom directive</li>
  <li>Make some tests</li>
  <li>Github actions (build & test & deploy)</li>
  <li>I18N</li>
  <li>PWA</li>
  <li>SSR & Prerendering</li>
  <li>Add a backend</li>
</ul>
<div class="footer-container" role="footer">
  <p class="footer-text-content">
    Made by Adrien Mazet as a training for Angular certification level 2
  </p>
</div>
