<mat-toolbar role="banner" color="primary">
  <mat-icon
    class="app-icon"
    aria-label="Wallet icon"
    fontIcon="account_balance_wallet"
  ></mat-icon>
  <h1 class="app-title">Wallet</h1>
  <a
    mat-raised-button
    class="app-route-link"
    *ngFor="let link of links"
    routerLink="{{ link.path }}"
    routerLinkActive="active-link"
    >{{ link.label | linkcase }}</a
  >
</mat-toolbar>
<router-outlet></router-outlet>
<div class="footer-container" role="footer">
  <p class="footer-text-content">
    Made by Adrien Mazet as a training for Angular certification level 2
  </p>
</div>
