<mat-card class="form-card">
  <mat-card-title class="form-card-title">Add a new operation</mat-card-title>
  <form
    (ngSubmit)="onSubmit()"
    #newOperationForm="ngForm"
    class="new-operation-form"
  >
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input
        required
        matInput
        id="amount"
        type="number"
        name="amount"
        [(ngModel)]="operation.amount"
        #amountInput="ngModel"
      />
      <span matPrefix>€&nbsp;</span>
      <mat-error *ngIf="amountInput.invalid"
        >This is not a valid amount</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Operation category</mat-label>
      <select
        required
        id="category"
        name="category"
        matNativeControl
        [(ngModel)]="operation.category"
      >
        <option *ngFor="let category of categories" [value]="category">
          {{ category | titlecase }}
        </option>
      </select>
    </mat-form-field>
    <button
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="newOperationForm.invalid || operation.amount === 0"
    >
      Add operation
    </button>
  </form>
</mat-card>
